astro-sdk-python[postgres,amazon,snowflake]
apache-airflow-providers-cncf-kubernetes==10.1.0
apache-airflow-providers-apache-spark
apache-airflow-providers-apache-kafka
apache-airflow-providers-apache-flink
apache-airflow-providers-apache-pinot
airflow-provider-mlflow
confluent-kafka
mlflow-skinny
scikit-learn
tensorflow==2.18.0
matplotlib
evidently
imblearn
pyspark
seaborn
pandas
minio
s3fs
delta-spark==3.3.0
deltalake[s3]
